body{
    background-color: orangered;
}

body{
    color: activecaption;
}

# terms {
width: 100%;
position: absolute;
bottom: 0;

}

.terms {
width: 100%;
position: middle;
bottom: 5px;

}
.navigationLinkscls1 li {
    position:relative;
    display:inline-block;
    padding:10px;
    //border:1px solid red;
    width:100px;
}
.navigationLinkscls1 li a {
    position:relative;
    text-decoration:none;
    //border:1px solid green;
    padding:3px 20px 3px 20px;
    box-shadow:5px 5px 11px turquoise;
    color:blue;
    background-color:pink;
    -webkit-transition: .25s linear;
    -moz-transition: .25s linear;
    -o-transition: .25s linear;
    transition: .25s linear;
}
.navigationLinkscls1 li a:hover {
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}


